<div *ngIf="this.book!=null">
  <div *ngIf="this.author!=null">
      <div class="jumbotron">
          <h1 class="display-4">Title: {{ this.book.title }} </h1>
          <hr class="my-4">
         
          AUTHOR: <a routerLink="/author/{{author.id}}">{{ this.author.author }}</a><br>
          DESCRIPTION: <span><input type="text" class="form-control" [(ngModel)]="this.book.description">

          </span>
      </div>
      <button type="button" (click)="addBook()" class="btn btn-outline-primary">Update</button>
  </div>
</div>